.ChainAmicaWrapper {
  min-height: 270vh;
  margin-top: 20vh;

  width: 100%;

  background: url("/images/backgrounds/chain-amica.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  position: relative;
}

.HeadingMotto {
  padding-top: 7em;
  margin: 0 15em;
}

@media screen and (max-width: 1000px) {
  .HeadingMotto {
    margin: 0 10em;
  }
}

@media screen and (max-width: 800px) {
  .HeadingMotto {
    margin: 0 4em;
  }
}

@media screen and (max-width: 600px) {
  .HeadingMotto {
    margin: 0 1em;
  }
}

.HeadingMotto p {
  text-align: center;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .HeadingMotto p {
    font-size: 1.2rem;
  }
}

.BoatWrapper {
  width: 100vw;
  height: 100%;

  display: flex;
  justify-content: center;

  position: absolute;
  bottom: 0;

  overflow: hidden;
}

.BoatWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Wording {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Wording > * {
  position: absolute;
}

.Wording h2 {
  font-size: 9rem;
  letter-spacing: -0.5rem;
}

.Wording p {
  font-size: 1.2rem;
}

.Chain {
  top: 60px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Chain h2 {
  font-family: "Lora", serif;
  font-weight: 200;
  transform: translateX(-240px);
}

.Chain p {
  transform: translateX(-300px);
  text-align: end;
}

.LeAmica {
  top: 200px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.LeAmica h2 {
  font-weight: 500;
  transform: translateX(350px);
}

.LeAmica p {
  transform: translateX(380px);
}

@media screen and (max-width: 1250px) {
  .Wording h2 {
    font-size: 8rem;
  }

  .Chain h2 {
    transform: translateX(-220px);
  }

  .Chain p {
    transform: translateX(-280px);
  }

  .LeAmica h2 {
    transform: translateX(320px);
  }

  .LeAmica p {
    transform: translateX(350px);
  }
}

@media screen and (min-height: 800px) {
  .Chain {
    top: 100px;
  }

  .LeAmica {
    top: 240px;
  }
}

@media screen and (max-width: 1135px) {
  .Wording h2 {
    font-size: 6rem;
  }

  .Wording p {
    font-size: 1rem;
  }

  .Chain h2 {
    transform: translateX(-200px);
  }

  .Chain p {
    transform: translateX(-240px);
  }

  .LeAmica h2 {
    transform: translateX(250px);
  }

  .LeAmica p {
    transform: translateX(280px);
  }
}

.leamicaBreakLine {
  display: none;
}

@media screen and (max-width: 900px) {
  .leamicaBreakLine {
    display: block;
  }

  .Wording h2 {
    font-size: 5rem;
  }

  .LeAmica h2 {
    transform: translateX(220px);
  }

  .LeAmica p {
    transform: translateX(240px);
  }
}

@media screen and (max-width: 768px) {
  .Chain {
    align-items: center;
  }

  .LeAmica {
    align-items: center;
    padding-top: 1.5em;
  }

  .Chain h2 {
    transform: translateX(0);
  }

  .Chain p {
    transform: translateX(0);
    text-align: center;
  }

  .LeAmica h2 {
    transform: translateX(0);
  }

  .LeAmica p {
    transform: translateX(0);
    text-align: center;
  }

  .BoatWrapper {
    display: none;
  }
}
