.description {
  min-height: 100vh;
  background: url("/images/backgrounds/nautical.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin-bottom: 2em;
  /* width: 100vw; */
}

.descriptionTitle1,
.descriptionTitle2 {
  font-size: 9rem;
  font-weight: 500;
  letter-spacing: -0.05em;
}

.descriptionTitle1 {
  background: url("/images/decor/lines-1.png");
  background-position: center;
  padding-left: 0.8em;
}

.descriptionTitle2 {
  background: url("/images/decor/lines-2.png");
  background-position: center;
  text-align: end;
  padding-right: 0.8em;
}

@media screen and (min-width: 1250px) {
  .descriptionTitle1 {
    padding-left: 15%;
  }

  .descriptionTitle2 {
    padding-right: 15%;
  }
}

.descriptionContent {
  padding: 0 10em;
}

@media screen and (max-width: 1140px) {
  .description h2 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  .descriptionContent {
    padding: 0 5em;
  }
}

@media screen and (max-width: 900px) {
  /* .description h2 {
    text-align: center;
    font-size: 3rem;
  } */

  .descriptionContent {
    padding: 0 3em;
  }
}

@media screen and (max-width: 500px) {
  .description h2 {
    text-align: center;
    font-size: 4rem;
    padding: 0;
  }

  .descriptionContent {
    padding: 0 2em;
  }
}

@media screen and (max-width: 400px) {
  .descriptionContent {
    padding: 0;
  }
}

.description p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
}

@media screen and (max-width: 600px) {
  .description h3 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
  }
}

@media screen and (max-width: 410px) {
  .description p {
    font-size: 1.2rem;
  }
}
