.programSection {
  min-height: 100vh;
  background: #e7e7e7;

  display: flex;
  align-items: center;
  justify-content: center;
}

.programTitle h2 {
  color: black;
  font-size: 5rem;
  font-weight: 500;
  padding-bottom: 0.3em;
}

@media screen and (max-width: 450px) {
  .programTitle h2 {
    font-size: 3rem;
  }
}

.programContent hr {
  border: none;
  height: 1px;
  color: black;
  background: black;
}

.programContentItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  cursor: pointer;
}

.programContentItem:hover {
  background-color: #437384;
}

.programContentItem:hover span {
  color: #e7e7e7;
}

.programContentItem span {
  color: black;
  font-size: 2.5rem;
}

@media screen and (max-width: 500px) {
  .programContentItem span {
    font-size: 1.8rem;
  }
}

/* .arrowWrapper {
  border: 1px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .arrowWrapper {
    width: 40px;
    height: 40px;
  }
} */

.arrow {
  height: 100%;
}

/* .programContentItem:hover .arrowWrapper {
  border: 1px solid #e7e7e7;
} */
