.HeaderWrapper {
  background: url("/images/backgrounds/comlife.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 3em;
  margin-bottom: 5em;

  position: relative;
}

.Navigation ul {
  display: flex;
  align-items: center;

  list-style: none;

  position: absolute;
  bottom: 10%;
  right: 10%;
}

.Navigation ul li {
  margin-right: 2em;
  font-size: 2rem;
  font-weight: 500;
  color: #437384;
  cursor: pointer;

  transition: all 0.2s ease;
}

@media screen and (max-width: 950px) {
  .Navigation ul li {
    margin-right: 1.5rem;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 700px) {
  .Navigation ul {
    flex-direction: column;
    align-items: end;
    text-align: end;
  }

  .Navigation ul li {
    margin-right: 0;
    margin-bottom: 0.5em;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 400px) {
  .Navigation ul li {
    margin-right: 0;
    margin-bottom: 0.5em;
    font-size: 2rem;
  }
}

.Navigation ul li:hover {
  color: white;
}

.Title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Title > * {
  line-height: 7.5rem;
}

.Title h1 {
  font-size: 8rem;
  font-weight: 500;
  padding-right: 0.5em;
  /* transform: translate(10%, -40%); */
  padding-right: 140px;
}

.Title h3 {
  font-size: 8rem;
  font-style: italic;
  font-weight: 400;
  /* transform: translate(-50%, 40%); */
  padding-left: 600px;
}

@media screen and (max-width: 900px) {
  .Title h1,
  .Title h3 {
    font-size: 6rem;
  }
}

@media screen and (max-width: 700px) {
  .Title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding-top: 5em;
  }

  .Title h1,
  .Title h3 {
    padding: 0;
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media screen and (max-width: 450px) {
  .Title h1,
  .Title h3 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 350px) {
  .Title {
    padding-top: 10em;
  }

  .Title h1,
  .Title h3 {
    font-size: 2rem;
  }
}
