.menuBg {
  background: url("/images/backgrounds/wavy-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.logoWrapper {
  position: fixed;
  top: 5%;
  left: 3rem;

  z-index: 100;
}

.navText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 500px) {
  .navText {
    display: none;
  }
}

.scrollSign {
  position: absolute;
  bottom: 10%;
  left: 5rem;

  display: flex;
  align-items: center;

  z-index: 0;
  opacity: 0.5;
}

.scrollSign span {
  font-weight: bolder;
  font-size: 1.2rem;

  padding-right: 0.5em;
}

@media screen and (max-width: 550px) {
  .scrollSign {
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
  }

  .scrollSign span {
    font-size: 0.8rem;
  }
}

/* LEFT SIDE OF THE MENU BAR */
.menuLeft {
  position: relative;
  height: 100vh;
  width: 100%;
}

.leftWrapper {
  position: absolute;
  top: 20%;
  left: 10%;
}

.leftText {
  padding-bottom: 1em;
}

.leftText h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
}

.navbarSocialWrapper {
  display: flex;
  align-items: center;
}

.socialWrapper {
  border: 1px solid black;
  border-radius: 100px;
  padding: 0.75em;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 1em;

  transition: all ease-out 0.1s;
}

.socialWrapper:hover {
  border: 1px solid #437384;
  background-color: #437384;
}

/* RIGHT SIDE OF THE MENU BAR */
.menuRight {
  position: absolute;
  top: 50%;
  right: 13%;
  transform: translateY(-55%);

  transition: all 0.25s ease-in-out;
}

.navLinks {
  color: #437384;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: -0.2rem;
  transition: all 200ms linear;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  text-align: start;

  cursor: pointer;
}

.menuRight:hover .navItem .navLinks {
  color: #437384;
}

.menuRight:hover .navItem:hover .navLinks {
  color: black;
}

.navLinks:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 1150px) {
  .menuRight {
    right: 10%;
  }
}

@media screen and (max-width: 1080px) {
  .leftWrapper {
    left: 5%;
  }

  .menuRight {
    right: 5%;
  }
}

@media screen and (max-width: 900px) {
  .menuWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .leftWrapper {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .leftText {
    text-align: center;
  }

  .menuRight {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .navItem {
    margin-bottom: 1em;
  }

  .navLinks {
    font-size: 4rem;
    justify-content: center;

    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .navLinks {
    font-size: 3rem;
  }
}
